form {
  padding: 24px;
}
.fill-remaining-space {
  flex: 1 1 auto;
}

.mat-toolbar {
  margin: -24px;
  margin-bottom: 0;
  width: auto;
}
.mat-dialog-content {
  margin: 0 -24px;
  padding: 0 !important;
}

.mat-form-field {
  width: 100%;
}
